[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
gitpython = "*"
typer = "*"
tldextract = "*"
jupyter = "*"
dash = "*"
upsetplot = "*"
kaleido = "*"
jsonlines = "*"
tqdm = "*"
pymongo = "*"
tranco = "*"
pandas = "<3.0"

[dev-packages]

[requires]
python_version = "3.14"
