services:

  traefik:
    image: traefik:v3.6.2
    restart: unless-stopped
    networks:
      - passkey-network
    expose:
      - 80
      - 443
    ports:
      - 0.0.0.0:80:80
      - 0.0.0.0:443:443
    healthcheck:
      test: traefik healthcheck
      interval: 10s
      timeout: 10s
      retries: 15
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DATA:-/tmp/pkvolume}/traefik-acme:/mnt/acme
    labels:
      - "traefik.enable=true"
      # http routers
      - "traefik.http.routers.traefik.entrypoints=web"
      - "traefik.http.routers.traefik.rule=Host(`${TRAEFIK_EXTERNAL_DOMAIN:-traefik.docker.localhost}`)"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.middlewares=adminauth"
      # https router
      - "traefik.http.routers.traefik-secure.entrypoints=websecure"
      - "traefik.http.routers.traefik-secure.rule=Host(`${TRAEFIK_EXTERNAL_DOMAIN:-traefik.docker.localhost}`)"
      - "traefik.http.routers.traefik-secure.tls.certresolver=letsencrypt"
      - "traefik.http.routers.traefik-secure.service=api@internal"
      - "traefik.http.routers.traefik-secure.middlewares=adminauth"
      # middlewares: adminauth
      - "traefik.http.middlewares.adminauth.basicauth.users=${ADMIN_HASH:-admin:$$2y$$05$$1zzyF57XWcRpfz2zvxyz4eAUqeZHnCbFULhaliUjwGcq6DDDvP/XC}" # admin:changeme
      - "traefik.http.middlewares.adminauth.basicauth.removeheader=true"
    environment:
      # providers
      - TRAEFIK_PROVIDERS_DOCKER=true
      - TRAEFIK_PROVIDERS_DOCKER_EXPOSEDBYDEFAULT=false
      # api
      - TRAEFIK_API=true
      - TRAEFIK_API_DASHBOARD=true
      # ping
      - TRAEFIK_PING=true
      # no logging for privacy
      - TRAEFIK_LOG=false
      - TRAEFIK_ACCESSLOG=false
      # entrypoints
      - TRAEFIK_ENTRYPOINTS_WEB=true
      - TRAEFIK_ENTRYPOINTS_WEB_ADDRESS=:80
      - TRAEFIK_ENTRYPOINTS_WEBSECURE=true
      - TRAEFIK_ENTRYPOINTS_WEBSECURE_ADDRESS=:443
      # certificates
      - TRAEFIK_CERTIFICATESRESOLVERS_LETSENCRYPT_ACME_TLSCHALLENGE=true
      - TRAEFIK_CERTIFICATESRESOLVERS_LETSENCRYPT_ACME_EMAIL=
      - TRAEFIK_CERTIFICATESRESOLVERS_LETSENCRYPT_ACME_STORAGE=/mnt/acme/acme.json

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    networks:
      - passkey-network
    expose:
      - 4173
    ports:
      - 127.0.0.1:4173:4173
    healthcheck:
      test: curl -f http://localhost:4173 || exit 1
      interval: 10s
      timeout: 10s
      retries: 15
    labels:
      - "traefik.enable=true"
      # http router
      - "traefik.http.routers.frontend.entrypoints=web"
      - "traefik.http.routers.frontend.rule=Host(`${FRONTEND_EXTERNAL_DOMAIN:-frontend.docker.localhost}`) || Host(`${FRONTEND2_EXTERNAL_DOMAIN:-frontend2.docker.localhost}`)"
      # https router
      - "traefik.http.routers.frontend-secure.entrypoints=websecure"
      - "traefik.http.routers.frontend-secure.rule=Host(`${FRONTEND_EXTERNAL_DOMAIN:-frontend.docker.localhost}`) || Host(`${FRONTEND2_EXTERNAL_DOMAIN:-frontend2.docker.localhost}`)"
      - "traefik.http.routers.frontend-secure.tls.certresolver=letsencrypt"
      # artifacts http router
      - "traefik.http.routers.artifacts.entrypoints=web"
      - "traefik.http.routers.artifacts.rule=(Host(`${FRONTEND_EXTERNAL_DOMAIN:-frontend.docker.localhost}`) || Host(`${FRONTEND2_EXTERNAL_DOMAIN:-frontend2.docker.localhost}`)) && Path(`/artifacts.zip`)"
      - "traefik.http.routers.artifacts.service=frontend"
      - "traefik.http.routers.artifacts.middlewares=artifactsauth"
      - "traefik.http.routers.artifacts.priority=100"
      # artifacts https router
      - "traefik.http.routers.artifacts-secure.entrypoints=websecure"
      - "traefik.http.routers.artifacts-secure.rule=(Host(`${FRONTEND_EXTERNAL_DOMAIN:-frontend.docker.localhost}`) || Host(`${FRONTEND2_EXTERNAL_DOMAIN:-frontend2.docker.localhost}`)) && Path(`/artifacts.zip`)"
      - "traefik.http.routers.artifacts-secure.service=frontend"
      - "traefik.http.routers.artifacts-secure.middlewares=artifactsauth"
      - "traefik.http.routers.artifacts-secure.tls.certresolver=letsencrypt"
      - "traefik.http.routers.artifacts-secure.priority=100"
      # artifacts middleware
      - "traefik.http.middlewares.artifactsauth.basicauth.users=usenix:$$apr1$$hgUXQZ2L$$r3Pv8xN2w6IcKjRbixfN.1"
      - "traefik.http.middlewares.artifactsauth.basicauth.realm=Credentials in Paper"
      # service
      - "traefik.http.services.frontend.loadbalancer.server.port=4173"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    networks:
      - passkey-network
    expose:
      - 3000
    ports:
      - 127.0.0.1:3000:3000
    healthcheck:
      test: wget --spider -q http://localhost:3000/api/health || exit 1
      interval: 10s
      timeout: 10s
      retries: 15
    volumes:
      - ${DATA:-/tmp/pkvolume}/backend-data:/data
    labels:
      - "traefik.enable=true"
      # http router
      - "traefik.http.routers.backend.entrypoints=web"
      - "traefik.http.routers.backend.rule=Host(`${BACKEND_EXTERNAL_DOMAIN:-backend.docker.localhost}`)"
      # https router
      - "traefik.http.routers.backend-secure.entrypoints=websecure"
      - "traefik.http.routers.backend-secure.rule=Host(`${BACKEND_EXTERNAL_DOMAIN:-backend.docker.localhost}`)"
      - "traefik.http.routers.backend-secure.tls.certresolver=letsencrypt"
      # service
      - "traefik.http.services.backend.loadbalancer.server.port=3000"
    environment:
      - NODE_ENV=${NODE_ENV:-development} # development | production
      - DATA_FILE=/data/data.json
      - MONGO_URL=mongodb://${ADMIN_USER:-admin}:${ADMIN_PASS:-changeme}@mongo:27017

  mongo:
    image: mongo:4.4.6
    restart: unless-stopped
    networks:
      - passkey-network
    expose:
      - 27017
    ports:
      - 127.0.0.1:27017:27017
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 15
    volumes:
      - ${DATA:-/tmp/pkvolume}/mongo-db:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${ADMIN_USER:-admin}
      - MONGO_INITDB_ROOT_PASSWORD=${ADMIN_PASS:-changeme}

  mongo-express:
    image: mongo-express:1.0.2
    restart: unless-stopped
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - passkey-network
    expose:
      - 8081
    ports:
      - 127.0.0.1:8081:8081
    labels:
      - "traefik.enable=true"
      # http router
      - "traefik.http.routers.mongo-express.entrypoints=web"
      - "traefik.http.routers.mongo-express.rule=Host(`${MONGOEXPRESS_EXTERNAL_DOMAIN:-mongoexpress.docker.localhost}`)"
      - "traefik.http.routers.mongo-express.middlewares=adminauth"
      # https router
      - "traefik.http.routers.mongo-express-secure.entrypoints=websecure"
      - "traefik.http.routers.mongo-express-secure.rule=Host(`${MONGOEXPRESS_EXTERNAL_DOMAIN:-mongoexpress.docker.localhost}`)"
      - "traefik.http.routers.mongo-express-secure.tls.certresolver=letsencrypt"
      - "traefik.http.routers.mongo-express-secure.middlewares=adminauth"
      # service
      - "traefik.http.services.mongo-express.loadbalancer.server.port=8081"
    healthcheck:
      test: wget -q -O /dev/null 127.0.0.1:8081
      interval: 10s
      timeout: 10s
      retries: 15
    environment:
      - ME_CONFIG_BASICAUTH=false
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
      - ME_CONFIG_MONGODB_AUTH_USERNAME=${ADMIN_USER:-admin}
      - ME_CONFIG_MONGODB_AUTH_PASSWORD=${ADMIN_PASS:-changeme}
      - ME_CONFIG_MONGODB_ALLOW_DISK_USE=true
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_OPTIONS_PERSIST_EDIT_MODE=true
      - ME_CONFIG_OPTIONS_NO_DELETE=false

networks:
  passkey-network:
    name: passkey-network
